body {
  background: rgb(205, 206, 206);
}

#navbar {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  display: flex;
  width: 98vw;
  height: 15vh;
  background-color: rgb(182, 230, 182);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

#navTitle {
  margin-left: 2vw;
  font-size: 1.5em;
}

#navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navLinks a {
  margin-right: 4vw;
}

.navLink {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

.navLink:visited {
  color: black;
}

.navLink:hover {
  text-decoration: underline;
}

.mainLink {
  text-decoration: none;
  color: black;
}

.mainLink:visited {
  color: black;
}

.mainLink:hover {
  text-decoration: underline;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2em;
  margin: 0.5em;
}

.button {
  background-color: rgb(182, 230, 182); /* Green */
  border: none;
  color:black;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.buttonDelete {
  background-color: rgb(182, 230, 182); /* Green */
  border: none;
  color:black;
  padding: 4px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.buttonCampus {
  background-color: rgb(182, 230, 182); /* Green */
  border: none;
  color:black;
  margin: 5px 10px;
  padding: 4px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.buttonCampus:hover {
  background-color: rgb(157, 221, 157);

}

.button:hover {
  background-color: rgb(157, 221, 157);
}

.buttonDelete:hover {
  background-color: rgb(216, 108, 108)
}

.campusList {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.campusImg {
  padding: 1vw;
}

.campusImg * {
  text-align: center;
}

.orderedList {
  margin: 0;
  padding-left: 1em;
}

.allListFlex {
  display: flex;
  flex-direction: column;
}

.individualListFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.individualListFlex div {
  margin: 5px 5px;
  width: 18vw;
}

.studentDetails div {
  margin: 10px 0;
}

.updateCampusStudents {
  width: 15px;
}

.fontText {
  margin: 0;
  padding-bottom: 1em;
}

.updateDetails {
  width: 50vw;
}

.campusStudents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50vw;
}

button:disabled {
  background-color: grey;
}

button:disabled:hover {
  background-color: grey;
}

input {
  width: 50vw;
}

textarea {
  width: 50vw;
  height: 10vw;
}

img {
  width: 15vw;
  height: 15vw;
  padding-bottom: 3vh;
}

img:hover {
  opacity: 0.7;
}

