body {
  background: rgb(205, 206, 206);
}
#navbar {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  display: flex;
  width: 100vw;
  height: 15vh;
  background-color: rgb(182, 230, 182);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 4vw;
}

.navDiv div {
  margin: 1vw;
}

#navTitle {
  margin-left: 2vw;
}

.navLink {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

.navLink:visited {
  color: black;
}

.navLink:hover {
  text-decoration: underline;
}

.mainLink {
  text-decoration: none;
}

.mainLink:visited {
  color: black;
}

.mainLink:hover {
  text-decoration: underline;
}

.mainCampusDiv {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5em;
}

.allCampusTitle {
  text-decoration: underline;
  color: black;
  display: flex;
  justify-content: center;
}

.campusList {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.campusImg {
  padding: 1vw;
}

#allStudentsTitle {
  padding-left: 2vw;
  text-decoration: underline;
}

#allStudentsDiv {
  width: 50vw;
}

#button {
  margin: 3px;
  padding-left: 25px;
}

#studentDiv * {
  display: flex;
  flex-direction: column;
}

.campusName {
  color: black;
}

.singleCampusTitle {
  text-align: center;
  text-decoration: underline;
}

#studentName {
  text-align: center;
  text-decoration: underline;
  color: black;
  font-size: 1.5em;
}

.studentDetails {
  text-align: left;
  padding-left: 31vw;
}

img {
  width: 15vw;
  height: 15vw;
}
